
$blue-blue: #D5CCFF;
$lightwhite: #F4F2FF;
$lightred: #E42C5F;
$orange: #ECB800;
$softblue: #2B1887;
$lightblack: #161616;
$lightblue: rgba(157,208,254,1);
$white: #fff;
$lightgray: rgb(180, 180, 180)