

.task-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.task-item {
    background-color: $softblue;
    padding: 30px 20px;
    width: 30%;
    position: relative;
    margin: 5px 10px;
    cursor: pointer;
}

.task-item:hover .task-delete-button {
    opacity: 1;
}

.task-button-container {
    position: absolute;
    right: 20px;
    top: 0;
}


.task-delete-button {
    font-size: 0;
    background-color: inherit;
    position: relative;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}

.task-delete-button:hover::after {
background-color: $orange;
transition: 0.3s;
}

.task-delete-button:hover::before {
    background-color:$orange;
    transition: 0.3s;
}
.task-delete-button::after {
content: "";
width: 20px;
height: 3px;
background-color: $lightred;
position: absolute;
transform: rotate(-45deg);
}

.task-delete-button::before {
content: "";
width: 20px;
height: 3px;
background-color: $lightred;
position: absolute;
transform: rotate(45deg);

}

.task-text {
    font-family: 'DMsans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: $white;
}

.task-priority {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 0;
    margin: 20px 0 0 20px ;
}

.priority-item {
    width: 15px;
    height: 15px;
    background-color: $lightgray;
    margin-right: 10px;
    border-radius: 10px;
}

.priority-item.hard {
    background-color: $lightred;
}

.priority-item.middle {
    background-color: $orange;
}

.priority-item.light {
    background-color: $softblue;
}

// Sucsesfully

// .task-sucsefully {
 
// }

.task-sucsefully-title {
    font-family: 'DMsans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: $lightgray;
    width: 100%;
   text-align: center;
}

.task-item.sucsesfully {
    opacity: 0.9;
    background-color: $lightgray;
}

