@import "./colors.scss";
@import "./fonts.scss";

.task-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.task-item {
    background-color: $softblue;
    padding: 30px 20px;
    width: 30%;
    position: relative;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.task-item::before {
    content: "";
    width: 4px;
    height: 70%;
    position: absolute;
    left: 12px;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    background-color: inherit;
}

.task-item.red.task-item::before {
    background-color: $lightred;
}

.task-item.orange.task-item::before {
    background-color: $orange;
}

.task-item.blue.task-item::before {
    background-color: $lightblue;
}

.task-item:hover .task-delete-button {
    opacity: 1;
}

.task-button-container {
    position: absolute;
    right: 20px;
    top: 0;
}


.task-delete-button {
    font-size: 0;
    background-color: inherit;
    position: relative;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}

.task-button-container:hover .task-delete-button::after {
background-color: $lightblue;
transition: 0.3s;
}

.task-button-container:hover .task-delete-button::before {
    background-color:$lightblue;
    transition: 0.3s;
}
.task-delete-button::after {
content: "";
width: 20px;
height: 3px;
background-color: $lightred;
position: absolute;
transform: rotate(-45deg);
}

.task-delete-button::before {
content: "";
width: 20px;
height: 3px;
background-color: $lightred;
position: absolute;
transform: rotate(45deg);

}

.task-text {
    font-family: 'DMsans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: $white;
    padding: 0px 6px 10px 6px;
 
}

.task-priority {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 20px 0 0 20px ;
}

.energyCost {
    fill: $lightgray;
    width: 30px;
    height: 20px;
}

.energyCost.active {
    fill: $lightblue;
}

// Sucsesfully

// .task-sucsefully {
 
// }

.task-sucsefully-title {
    font-family: 'DMsans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: $lightgray;
    width: 100%;
   text-align: center;
}

.task-item.sucsesfully {
    opacity: 0.5;
    background-color: $middlegray;
    transition: 0.3s;
}

.task-item.sucsesfully:hover {
    opacity: 0.9;
    transition: 0.3s;
}

